{% extends 'master.html' %}
{% block title %}
    {{ SEO_TITLE }}
{% endblock %}
{% block content %}
    <div id="id_contact" style="display: block; position: static; visibility: visible;" class="active">

        <!-- start breadcumb -->
        <div class="container_940 widget">
            <div class="breadcumb_info">
                <div class="grid_300">
                    <span class="breadcumb_h1">تماس با من</span>
                </div>
                <div class="grid_740">
                    <div class="text_align_center">
                        <span class="breadcumb_desc">" نوشته ای در این قسمت قرار دهید. نوشته ای در این قسمت قرار دهید.  "</span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="grid_940">
                <div class="ul_breadcumb_dots">
                    <ul class="ul_breadcumb left">
                        <li><a title="" href="#" class="cf_contact">خانه</a></li>
                        <li>تماس با من</li>
                    </ul>
                    <div class="ul_breadcumb_line right">
                        &nbsp;
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- end breadcumb -->

        <!-- start google map -->
{#        <div class="container_940">#}
{#            <div class="grid_940">#}
{#                <iframe class="google_map_iframe"#}
{#                        src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Plaza+Bapindo&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=34.176059,86.572266&amp;ie=UTF8&amp;hq=Plaza+Bapindo&amp;hnear=&amp;radius=15000&amp;ll=-6.22396,106.807612&amp;spn=0.071946,0.071946&amp;t=m&amp;output=embed"></iframe>#}
{#            </div>#}
{#            <div class="clear"></div>#}
{#        </div>#}
        <!-- end google map -->
        <!-- start contact form -->
        <div class="container_940 widget">
            <div class="grid_400 vertical_bg">
                <div class="sidebar_left">
                    <div class="h3_heading_l">
                        <div class="icon_contact_1 right"></div>
                        <div class="h3_desc_container right">
                            <div class="h3_desc_div">
                                <div class="h3_desc">اخبار سایت</div>
                                <div class="h3_title cf_contact">آدرس شرکت</div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="padding_bottom_sidebar">
                        <ul class="ul_address">
                            <li>
                                <div class="label">تلفن</div>
                                <div class="span">+62812321213</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="label">فکس</div>
                                <div class="span">+62812321213</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="label">آدرس</div>
                                <div class="span">تهران، تهران، تهران</div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>

                    <div class="h3_heading_l">
                        <div class="icon_contact_2 right"></div>
                        <div class="h3_desc_container right">
                            <div class="h3_desc_div">
                                <div class="h3_desc">اطلاعات تماس</div>
                                <div class="h3_title cf_contact">پشتیبانی آنلاین</div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="padding_bottom_sidebar">
                        <ul class="ul_address">
                            <li>
                                <div class="label">فیسبوک</div>
                                <div class="span"><a href="#" title="">JONHBANDERSON</a></div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="label">توئیتر</div>
                                <div class="span"><a href="#" title="">@_JONHBANDERSON</a></div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="label">ایمیل</div>
                                <div class="span"><a href="#" title="">info@tarahwebsite.com</a></div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="label">وب</div>
                                <div class="span"><a href="#" title="">tarahwebsite.com</a></div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid_640">
                <div class="sidebar_right">
                    <div class="h3_heading_r h3_heading_r_mb">
                        <div class="icon_contact_3 contact_line right"></div>
                        <div class="h3_desc_container right">
                            <div class="h3_desc_div">
                                <div class="h3_desc">فرم تماس با ما</div>
                                <div class="h3_title cf_contact">در کمتر از 24 ساعت پاسخگو خواهیم بود</div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <p>
                        توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این
                        قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات
                        خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید.
                    </p>

                    <form id="form_contact" method="post">
                        {% csrf_token %}
                        <div class="div_240">
                            {{ form.name }}

                            {{ form.subject }}

                            {{ form.email }}

                            {{ form.captcha }}
                            {{ form.captcha.error_messages }}
                        </div>
                        <div class="div_370">
                            {{ form.message }}
                        </div>

                        <div class="left"><input class="left btn_submit" type="submit" value="ارسال نامه"></div>
                        <div class="clear"></div>

                    </form>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- end contact form -->
    </div>
{% endblock %}

<form id="form_contact" method="post" novalidate="novalidate">
    <div class="div_240">
        <label>نام</label>
        <div>
            <input class="full" type="text" name="input_name">
            <div class="clear"></div>
        </div>
        <label>ایمیل</label>
        <div>
            <input class="full" type="text" name="input_email">
            <div class="clear"></div>
        </div>
        <label>موضوع</label>
        <div>
            <input class="full" type="text" name="input_subject">
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

    </div>
    <div class="div_370">
        <label>پیام</label>
        <div>
            <textarea name="input_message" class="full"></textarea>
        </div>
        <div>

        </div>
    </div>
    <div class="clear"></div>
    <div class="div_240">
        <label>کپچا</label>
        <div>

            <div class="div_captcha right"><input class="captcha left" type="text" placeholder="3 + 4 = ?"
                                                  name="input_captcha"></div>
            <div class="left"><input class="left btn_submit" type="submit" value="ارسال نامه"></div>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</form>