<div id="footer">

			<div class="container_940">
				<div class="border_footer">&nbsp;</div>
				<div class="grid_640">
					<!-- start copyright -->
					<div class="copyright">
						 <a href="/" title="">❤️ طراحی با </a>
					</div>
					<!-- ends copyright -->
				</div>
				<div class="grid_300">
					<!-- start social icons -->
					<div class="social_div">
						<ul class="ul_social">
							<li><a class="social_facebook" href="https://Facebook.html" title=""></a></li>
{#							<li><a class="social_twitter" href="Twitter.html" title=""></a></li>#}
{#							<li><a class="social_youtube" href="Youtube.html" title=""></a></li>#}
{#							<li><a class="social_vimeo" href="Vimeo.html" title=""></a></li>#}
{#							<li><a class="social_skype" href="Skype.html" title=""></a></li>#}
{#							<li><a class="social_rss" href="RSS.html" title=""></a></li>#}
{#							<li><a class="social_dribbble" href="Dribbble.html" title=""></a></li>#}
							<li><a class="social_gmail" href="Gmail.html" title=""></a></li>
                            <li><a class="social_instagram" href="https://Instagram.html" title=""></a></li>

						</ul>
						<div class="clear"></div>
					</div>
					<!-- ends social icons -->
				</div>
				<div class="clear"></div>
			</div>
		</div>