{% load static %}
<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{% static 'public/css/reset.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'public/css/colorbox.css' %}" media="screen">
	<link media="screen" href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	<link media="screen" href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'public/css/nobTip.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'public/css/style.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'public/css/responsive.css' %}" media="screen">
</head>